.pagina {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(2, 1fr);
    grid-template-areas: "form form" "tablac graficac";
    grid-column-gap: 20px;
}

.form {
    grid-area: form;
    margin-bottom: 40px;
}

.tablac {
    grid-area: tablac;
}

.graficac {
    grid-area: graficac;
    display: flex;
    justify-content: center;
}

.contenedorAgentes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
}

/* estilos tabla */

.Tabla {
    width: 100%;
}

.Tabla thead tr th {
    background: #42B0B0;
    padding-bottom: 14px;
    padding-top: 14px;
    text-align: center;
}

.Tabla tbody tr td {
    padding: 10px;
    text-align: center;
}

.Tabla tbody tr:nth-child(even) {
    background: #f2f2f2;
}

.Tabla tbody tr:hover {
    background: #42B0B0;
    color: white;
}

/* estilos grafica */

.contenedorGrafica {
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.contenedorBarras {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.titulos {
    display: flex;
    justify-content: space-evenly;
}

.agente1 {
    width: 60px;
    height: 0%;
    background: #384B4B;
    position: relative;
}

.agente2 {
    width: 60px;
    height: 0%;
    background: #42B0B0;
    position: relative;
}

.numAgente {
    position: absolute;
    top: -30px;
    left: 23px;
}

/* Diseño responsibo */

@media only screen and (max-width: 425px) {
    .pagina {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: repeat(3, 1fr);
        grid-template-areas: "form" "tablac" "graficac";
        grid-column-gap: 20px;
    }
}